        <h1>Haskell functions</h1>
        <div class="example">
            <span class="label">type signature</span>
            <div class="element">
                <span class="annotation">function name</span>
                <span class="value function">myFunction</span>
            </div>
            <div class="element operator">
                <span class="annotation">has the type</span>
                <span class="value operator">::</span>
            </div>
            <div class="element">
                <span class="annotation">first parameter type</span>
                <span class="value type">String</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value">-></span>
            </div>
            <div class="element">
                <span class="annotation">second parameter type</span>
                <span class="value type">String</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value">-></span>
            </div>
            <div class="element">
                <span class="annotation">return type</span>
                <span class="value type">Bool</span>
            </div>
        </div>
        <div class="example">
            <span class="label">definition</span>
            <div class="element">
                <span class="annotation"></span>
                <span class="value function">myFunction</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value"></span>
            </div>
            <div class="element">
                <span class="annotation">parameter</span>
                <span class="value">wordA</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value"></span>
            </div>
            <div class="element">
                <span class="annotation">parameter</span>
                <span class="value">wordB</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value">=</span>
            </div>
            <div class="element">
                <span class="annotation">body of the function</span>
                <span class="value body">wordA == wordB</span>
            </div>
        </div>
        <div class="example">
            <span class="label">call</span>
            <div class="element">
                <span class="annotation"></span>
                <span class="value function">myFunction</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value"></span>
            </div>
            <div class="element">
                <span class="annotation">argument</span>
                <span class="value">"kitten"</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value"></span>
            </div>
            <div class="element">
                <span class="annotation">argument</span>
                <span class="value">"cat"</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value comment"><-</span>
            </div>
            <div class="element">
                <span class="annotation"></span>
                <span class="value comment">evaluates to False</span>
            </div>
        </div>