        <h2>Variables</h2>
        <div class="example">
            <span class="label">type level</span>
            <div class="element">
                <span class="annotation"></span>
                <span class="value function">myFunction</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value">::</span>
            </div>
            <div class="element">
                <span class="annotation">type variable</span>
                <span class="value">[a]</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value">-></span>
            </div>
            <div class="element">
                <span class="annotation">type variable</span>
                <span class="value">a</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value">-></span>
            </div>
            <div class="element">
                <span class="annotation">type variable</span>
                <span class="value body">[a]</span>
            </div>
        </div>
        <div class="example">
            <span class="label">term level</span>
            <div class="element">
                <span class="annotation"></span>
                <span class="value function">myFunction</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value"></span>
            </div>
            <div class="element">
                <span class="annotation">term-level variable</span>
                <span class="value">x</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value"></span>
            </div>
            <div class="element">
                <span class="annotation">term-level variable</span>
                <span class="value">y</span>
            </div>
            <div class="element operator">
                <span class="annotation"></span>
                <span class="value">=</span>
            </div>
            <div class="element">
                <span class="annotation"></span>
                <span class="value body">y : x</span>
            </div>
        </div>