@font-face {
    font-family: 'threemedium';
    src: url('https://alicja.dev/assets/fonts/three.eot');
    src: url('https://alicja.dev/assets/fonts/three.eot?#iefix') format('embedded-opentype'),
        url('https://alicja.dev/assets/fonts/three.woff2') format('woff2'),
        url('https://alicja.dev/assets/fonts/three.woff') format('woff'),
        url('https://alicja.dev/assets/fonts/three.ttf') format('truetype'),
        url('https://alicja.dev/assets/fonts/three.svg#threemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 18px Verdana, sans-serif;
    font: 36px "threemedium";
    margin-top: 20px;
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

#verdana + label,
#three + label {
    margin-right: 30px;
    cursor: pointer;
    color: #000;
    float: right;
}

#verdana + label {
    font: 18px Verdana, sans-serif;
}

#three + label {
    font: 36px "threemedium";
}

#three:checked + .three-label {
    display: none;
}

#verdana:checked + .verdana-label {
    display: none;
}

#three:checked ~ .zine {
    font: 36px "threemedium";
}

#verdana:checked ~ .zine {
    font: 18px Verdana, sans-serif;
}

.zine {
    margin: auto;
    max-width: 840px;
}

@media print {
    @page { size: auto portrait; margin: 0cm; }
    .zine { margin: 1cm; -webkit-print-color-adjust: exact; }
    #verdana + label, #three + label { display: none; }
}

.haskell {
    display: inline-block;
    position: relative;
    left: 20px;
    top: 20px;
    width: 112.5px;
    height: 72px;
    color: $purple1;

    background:
        /* black chevron */
        /* upper part */
        linear-gradient(
        -122.5deg,
        transparent 37%,
        #101c24 38%,
        #101c24 62%,
        transparent 63%
        ) 0 0,
        /* lower part */
        linear-gradient(
        122.5deg,
        transparent 37%,
        #101c24 38%,
        #101c24 62%,
        transparent 63%
        ) 0 36px,

        /* yellow lambda */
        /* upper part */
        linear-gradient(
        -122.5deg,
        transparent 37%,
        currentColor 38%,
        currentColor 62%,
        transparent 63%
        ) 22.5px 0,
        /* lower left part */
        linear-gradient(
        122.5deg,
        transparent 37%,
        currentColor 38%,
        currentColor 62%,
        transparent 63%
        ) 22.5px 36px,
        /* lower right part */
        linear-gradient(
        -122.5deg,
        transparent 37%,
        currentColor 38%,
        currentColor 62%,
        white 63%
        ) 45.5px 36px,

        /* white spacer */
        /* upper part */
        linear-gradient(
        -122.5deg,
        transparent 37%,
        white 38%,
        white 62%,
        transparent 63%
        ) 30px 0,
        /* lower part */
        linear-gradient(
        -122.5deg,
        transparent 37%,
        white 38%,
        white 62%,
        transparent 63%
        ) 53px 36px,

        /* black lines */
        /* upper line */
        linear-gradient(
        to bottom,
        white 57%,
        #101c24 57%,
        #101c24 91%,
        white 92%
        ) 53px 0,
        /* lower line */
        linear-gradient(
        to bottom,
        white 8%,
        #101c24 8%,
        #101c24 42%,
        white 43%
        ) 53px 36px;

    background-size: 39px 36px;
    background-repeat: no-repeat;
}