@font-face {
    font-family: 'threemedium';
    src: url('https://alicja.dev/assets/fonts/three.eot');
    src: url('https://alicja.dev/assets/fonts/three.eot?#iefix') format('embedded-opentype'),
        url('https://alicja.dev/assets/fonts/three.woff2') format('woff2'),
        url('https://alicja.dev/assets/fonts/three.woff') format('woff'),
        url('https://alicja.dev/assets/fonts/three.ttf') format('truetype'),
        url('https://alicja.dev/assets/fonts/three.svg#threemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 18px Verdana, sans-serif;
    font: 36px "threemedium";
}

.zine {
    width: 840px;
    margin: 0 auto;
}

/*  COLOURS
    purple-0: #8f4898
    purple-1: #a846a0
    purple-2: #c45ab3
    pink-0:   #ee4266
    orange:   #ff6700
    pink-1:   #ffa69e
    yellow:   #fed766
    green:    #23ce6b
    teal:     #3bceac
    blue:     #009fb7
    grey-0:   #45454e
    grey-1:   #b2b3b8
    grey-2:   #c7c5c6
    white:    #e8e6e7
    h-purple: #ce97fb
    h-pink:   #f6a5eb
    h-orange: #faa99d
    h-yellow: #fddf7e
    h-teal:   #9bfbe1
    h-blue:   #67ebfa
*/

@media print {
    @page { size: auto portrait; margin: 0cm; }
    .zine { margin: 1cm }
}