        <div class="head_section">
            <h1>Haskell is a</h1>
            <div class="element">
                <span class="first">purely</span>
                <div class="description">
                    <ul>
                        <li>has referential transparency - expressions are like LEGO blocks</li>
                        <li>an expression evaluates to the same result regardless of context</li>
                        <li>the same input produces the same output</li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <span class="second">functional</span>
                <div class="description">
                    <ul>
                        <li>functions are first-class objects - can be used as values and passed as arguments</li>
                        <li>programs are declarative - they describe the logic of the computation and not the control flow</li>
                        <li>the output value of a function depends only on arguments that are passed to the function</li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <span class="third">polymorphic</span>
                <div class="description">
                    <ul>
                        <li>
                            code can be written without mentioning specific types and use methods for groups of types
                            e.g. all values of typeclass Num can use addition
                        </li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <span class="fourth">statically typed</span>
                <div class="description">
                    <ul>
                        <li>
                            the type of a variable is known at compile time - using either specific type declarations
                            or type inference (type is decided by the compiler)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="element">
                <span class="fifth">lazy</span>
                <div class="description">
                    <ul>
                        <li>it only evaluates expressions when it really has to</li>
                    </ul>
                </div>
            </div>
            <h1>programming language</h1>
        </div>