<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Haskell zine: intro</title>
        <style></style>
    </head>
    <body>
        <input id="trebuchet" type="radio" name="font">
        <label for="trebuchet" class="font-button trebuchet-label">Trebuchet</label>

        <input id="three" type="radio" name="font" checked>
        <label for="three" class="font-button three-label">Three</label>
        <div class="zine">
            {{ head_section }}
        </div>
    </body>
</html>