        <div class="reasons">
            <h2>Why am I learning Haskell? <div class="haskell"></div></h2>
            <ol>
                <li>Because it's different from the languages I know!</li>
                <li>Because it's fun - a great way of nerd-sniping myself every day!</li>
                <li>Because functional programming becomes more and more relevant!</li>
                <li>Because it's challenging!</li>
                <li>Because I wanted to make some new friends!</li>
            </ol>
            <h2>Why do YOU want to learn Haskell?</h2>
            <ol>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            <ol>
        </div>