@font-face {
    font-family: 'threemedium';
    src: url('https://alicja.dev/assets/fonts/three.eot');
    src: url('https://alicja.dev/assets/fonts/three.eot?#iefix') format('embedded-opentype'),
        url('https://alicja.dev/assets/fonts/three.woff2') format('woff2'),
        url('https://alicja.dev/assets/fonts/three.woff') format('woff'),
        url('https://alicja.dev/assets/fonts/three.ttf') format('truetype'),
        url('https://alicja.dev/assets/fonts/three.svg#threemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 18px Verdana, sans-serif;
    font: 36px "threemedium";
    margin-top: 20px;
    text-align: right;
}

input[type="checkbox"], input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

#verdana + label,
#three + label {
    margin-right: 30px;
    cursor: pointer;
    color: #000;
}

#verdana + label {
    font: 18px Verdana, sans-serif;
}

#three + label {
    font: 36px "threemedium";
}

#three:checked + .three-label {
    color: $grey1;
    display: none;
}

#verdana:checked + .verdana-label {
    color:$grey1;
    display: none;
}

#three:checked ~ .zine {
    font: 36px "threemedium";
}

#verdana:checked ~ .zine {
    font: 18px Verdana, sans-serif;
}

.zine {
    margin: 0 auto;
    max-width: 840px;
    text-align: left;
}

@media print {
    @page { size: auto portrait; margin: 0cm; }
    .zine { margin: 1cm; -webkit-print-color-adjust: exact; }
    #verdana + label, #three + label { display: none; }
}

@include examples;