<h2 class="comprehension-title">Haskell list comprehensions - let's make some lists!</h2>

<div class="comprehension-line">
    <div class="comprehension">
        <div class="comprehension-example">
            <span class="operator">[</span>
            <span class="element output">output function</span>
            <span class="operator">|</span>
            <span class="element input">input set*</span>
            <span class="operator">,</span>
            <span class="element predicative">predicative*</span>
            <span class="operator">]</span>
        </div>
        <div class="comprehension-comments">
            <span class="operator"></span>
            <span class="comment">applied to members of the resulting list</span>
            <span class="operator"></span>
            <span class="comment">what we're generating the list from</span>
            <span class="operator"></span>
            <span class="comment">conditions that apply to input set values</span>
            <span class="operator"></span>
        </div>
    </div>
</div>

<span class="aside">
    *can use multiple 
    <span class="input">input sets</span> and 
    <span class="predicative">predicatives</span>
</span>