<h3>A list of squares and cubes of even numbers between 1 and 5: [4,8,16,64]</h3>

<div class="comprehension-line">
    <div class="comprehension">
        <div class="comprehension-example">
            <span class="operator">[</span>
            <span class="element output">x ^ y</span>
            <span class="operator">|</span>
            <span class="element input">x <- [1..5]</span>
            <span class="operator">,</span>
            <span class="element input">y <- [2, 3]</span>
            <span class="operator">,</span>
            <span class="element predicative">rem x 2 == 0</span>
            <span class="operator">]</span>
        </div>
        <div class="comprehension-comments">
            <span class="operator"></span>
            <span class="comment">3. if it is - add first a square and then a cube of it</span>
            <span class="operator"></span>
            <span class="comment">1. take numbers 1-5</span>
            <span class="operator"></span>
            <span class="comment"></span>
            <span class="operator"></span>
            <span class="comment">2. for each check if it's even</span>
            <span class="operator"></span>
        </div>
    </div>
</div>