<h3>A list of squares of even numbers between 1 and 10: : [4,16,36,64,100]</h3>

<div class="comprehension-line">
    <div class="comprehension">
        <div class="comprehension-example">
            <span class="operator">[</span>
            <span class="element output">x ^ 2</span>
            <span class="operator">|</span>
            <span class="element input">x <- [1..10]</span>
            <span class="operator">,</span>
            <span class="element predicative">rem x 2 == 0</span>
            <span class="operator">]</span>
        </div>
        <div class="comprehension-comments">
            <span class="operator"></span>
            <span class="comment">3. if it's even - add a square of it</span>
            <span class="operator"></span>
            <span class="comment">1. take numbers 1-10</span>
            <span class="operator"></span>
            <span class="comment">2. for each check if it's even</span>
            <span class="operator"></span>
        </div>
    </div>
</div>