<div class="example">
  <div class="equation">
    <div class="equation-line">
      <span class="eq number">3</span>
      <span class="eq operator">/</span>
      <span class="eq number">-5</span>
      <span class="eq operator">=</span>
      <span class="eq number">0</span>
      <span class="eq operator">-</span>
      <span class="eq number">3/5</span>
    </div>
    <div class="results">
      <div class="result-line">
        <span class="result divmod">div</span>
        <span class="result number">-1</span>
        <span class="result divmod">mod</span>
        <span class="result number">-2</span>
      </div>
      <div class="result-line">
        <span class="result quotrem">quot</span>
        <span class="result number">&nbsp;0</span>
        <span class="result quotrem">rem</span>
        <span class="result number">&nbsp;3</span>
      </div>
    </div>
  <div class="equation">
    <div class="equation-line">
      <span class="eq number">5</span>
      <span class="eq operator">/</span>
      <span class="eq number">-3</span>
      <span class="eq operator">=</span>
      <span class="eq number">-1</span>
      <span class="eq operator">-</span>
      <span class="eq number">2/3</span>
    </div>
    <div class="results">
      <div class="result-line">
        <span class="result divmod">div</span>
        <span class="result number">-2</span>
        <span class="result divmod">mod</span>
        <span class="result number">-1</span>
      </div>
      <div class="result-line">
        <span class="result quotrem">quot</span>
        <span class="result number">-1</span>
        <span class="result quotrem">rem</span>
        <span class="result number">&nbsp;2</span>
      </div>
    </div>
  </div>
</div>