<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Haskell: integer division</title>
        <style></style>
    </head>
    <body>
        <input id="trebuchet" type="radio" name="font">
        <label for="trebuchet" class="font-button trebuchet-label">Trebuchet</label>

        <input id="three" type="radio" name="font" checked>
        <label for="three" class="font-button three-label">Three</label>

        <div class="zine">
            <h2>
            Integer division in Haskell:<br>
                <span class="quotrem">quotRem</span> and 
                <span class="divmod">divMod</span>
            </h2>
            {{ example_0 }}
            {{ example_1 }}
            {{ example_2 }}
            {{ rules }}
            {{ usage }}
        </div>
    </body>
</html>